---
layout: default
---

<div class="home">
  {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts limit: 10 %}
        <li class="post-wrapper">
          <h3 class="post-title">
            {{ post.title | escape }}
          </h3>
          <span class="post-meta">{{ post.date | date_to_long_string }}</span>
          <div class="post-desc">
            {% if post.cover %}
              <img class="cover" src="{{ post.cover }}">
            {% else %}
              <img class="cover" src="https://via.placeholder.com/1600x900">
            {% endif %}

            {% if site.show_excerpts %}
              <p class="post-excerpts">{{ post.excerpt | strip_html }}</p>
            {% endif %}
          </div>


          <div class="btn-wrapper">
            <a class="read-more" href="{{ post.url | relative_url }}">Read More</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
