<div data-controller="category-form">
  <%= simple_form_for [:musk, @category], namespace: 'musk' do |f| %>
    <%= f.input :key %>
    <%= f.input :name %>

    <div class="top-btn-area">
      <%= f.submit class: 'btn' %>
    </div>
  <% end %>
</div>
