<header>
  <section class="header-wrapper">
    <div class="header-overlay"></div>
    <div class="header-content">
      <div class="author-title">{{ site.title }}</div>
      <div class="author-desc">{{ site.desc }}</div>
      <ul class="nav">
        {%- for node in site.docs -%}
          {%- if node.parent -%}
            {%- if page.url contains node.url -%}
              <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {%- else -%}
              <li><a href="{{node.url}}">{{node.title}}</a></li>
            {%- endif -%}
          {%- else -%}
            {%- if page.url == node.url -%}
              <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {%- else -%}
              <li><a href="{{node.url}}">{{node.title}}</a></li>
            {%- endif -%}
          {%- endif %}
        {%- endfor -%}
      </ul>

      <ul class="social">
      </ul>
    </div>
  </section>
</header>
