@import "easymde/dist/easymde.min";
@import "select2/src/scss/core.scss";
@import "tailwindcss/base";
@import "stylesheets/musk/sessions";

.turbo-progress-bar {
  height: 10px;
}


.stone-link {
  @apply underline text-red-500;
}

.stone-table {
  @apply border-collapse border border-gray-600 table-fixed w-full;

  th,
  td {
    @apply border border-gray-100 px-3 py-2;
  }

  th {
    @apply font-medium;
  }

  td {
    @apply text-xs;
  }
}

.stone-header {
  @apply flex justify-between fixed bg-white w-full shadow-sm top-0;
}

.stone-navbar {
  @apply p-4 flex;

  .stone-navbar-item {
    @apply text-gray-600 px-3 py-2 rounded-md text-sm font-medium hover:text-black;

    &.active {
      @apply text-black;
    }
  }
}

.btn {
  @apply inline-block px-2 py-1 text-sm text-white border-black bg-gray-900 border rounded-sm cursor-pointer;
}

.btn:visited {
  @apply bg-gray-900;
}

.btn:visited:focus {
  @apply bg-gray-600;
}

.btn:active {
  @apply bg-gray-600;
}

.top-btn-area {
  @apply my-5;
}

.alert {
  @apply rounded-sm text-white py-2 px-4 mb-2;

  &.success {
    @apply bg-green-100;
  }

  &.danger {
    @apply bg-red-100;
  }
}

.EasyMDEContainer {
  flex: 1;
}

.select2 {
  flex: 1
}

@import "tailwindcss/components";
