@import "normalize";

$primary-color: #dc5b5d;
$background-color: #f2f4f5;
$assist-color: #cccccc;

$screen-view: 1180px;

body {
  font-family: sans-serif;
}

.header-wrapper {
  padding: 10px 0;
  position: fixed;
  width: 30%;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: $screen-view;
  margin: 0 auto;

  .author {
    &-title {
      color: #fff;
      font-size: 45px;
      font-weight: 900;
      font-family: serif;
    }

    &-desc {
      margin: 0.5em 0;
      line-height: 1;
      letter-spacing: 1px;
      color: #ccc;
      font-size: 18px;
    }
  }

  .header-content {
    position: absolute;
    bottom: 0;
    padding: 60px 60px 52px;
  }

  .header-image {
    position: fixed;
    top: 0;
    width: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-overlay {
    background: linear-gradient(to bottom,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .logo {
    float: left;
    width: 180px;
    margin-top: 5px;

    img {
      width: 100%;
    }
  }

  .nav {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin-top: 30px;

    li {
      margin: 10px 0;
      a {
        text-decoration: none;
        color: #ccc;

        &:hover,
        &.active {
          color: $primary-color
        }
      }
    }
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  .social {
    padding: 0;
    list-style: none;
  }
}

.page-content {
  background: $background-color;
  width: 100%;
  padding-left: 30%;
  border: 1px solid transparent;

  .wrapper {
    width: $screen-view;
    margin: 10px auto;
  }

}

.footer {
  display: none;
}
