<div class="home">
  <% if lastest_posts.size %>
    <ul class="post-list">
      <% lastest_posts.each do |post| %>
      <li class="post-wrapper">
        <%= link_to post.title, post_url(post.category.key, post.slug), class: 'post-title' %>
        <p class="post-meta">
          <time><%= post.created_at.strftime('%A, %Y-%m-%d') %></time></p>
        <p class="post-excerpts"><%= post.excerpt %></p>
        <div class="btn-wrapper">
          <%= link_to 'Read More', post_url(post.category.key, post.slug), class: 'read-more' %>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
