.main-title {
  @apply text-3xl;
}

.field_with_errors {
  .input-wrapper {
    input,
    textarea,
    .EasyMDEContainer .CodeMirror-wrap,
    .select2 {
      @apply border-red-500 border-solid border;
    }
  }
}

.input-wrapper {
  @apply my-2 flex text-xs;

  label {
    @apply w-20 inline-block leading-8;
  }

  .EasyMDEContainer {
    flex: 1;
  }

  .select2 {
    flex: 1
  }

  input,
  textarea {
    @apply py-1 px-2 border-gray-200 border-solid border rounded-sm flex-1;
  }

  textarea {
    height: 600px;
  }
}

.input-separator {
  font-size: 14px;
  padding-left: 5rem;
  @apply text-red-500;
}
