<ul class="post-list">
  <% @posts.each do |post| %>
  <li class="inline-post-wrapper">
    <div class="title-wrapper">
      <%= link_to post.title, post_path(post.category.key, post.id) %> » <span class="post-meta"><%= post.created_at.strftime('%Y-%m-%d') %>
    </div>
  </li>
  <% end %>
</ul>
