<% content_for :title, "#{params[:category]}" %>

<ul class="post-list">
  <% unless @posts.size.zero? %>
    <%= render partial: 'posts/post', collection: @posts, cached: true %>
    <%= will_paginate @posts, previous_label: '&larr;', next_label: '&rarr;', class: 'pager' %>
  <% else %>
    <p class="empty">Empty.</p>
  <% end %>
</ul>
