<% content_for :title, "#{params[:category]}" %>

<ul class="post-list">
  <% unless @posts.size.zero? %>
    <% @posts.each do |post| %>
    <li class="inline-post-wrapper">
      <div class="title-wrapper">
        <%= link_to post.title, post_path(post.category.key, post.slug) %> » <span class="post-meta"><%= post.created_at.strftime('%Y-%m-%d') %>
      </div>
    </li>
    <% end %>
    <%= will_paginate @posts, previous_label: '&larr;', next_label: '&rarr;', class: 'pager' %>
  <% else %>
    <p class="empty">Empty.</p>
  <% end %>
</ul>
