<div class="about">
  <div class="english">
    <h1 class="title">Introduction</h1>
    <p>
    My name is lanzhiheng, for short Lan. A web developer in <a target="_blank" href="https://www.beansmile.com/">beansmile</a>, But sometimes I would like to call myself fullstack developer(This job title is so cool). I am good at Ruby, Javascript and C programming language. Anyway, I don't think PHP is the best programming language in the world but Ruby is.
    </p>
    <p>
    Somebody may say that "The work is life", But I don't think so. In my opinion, <strong>work is work, life is life</strong>. So I'm willing to take more off time to enjoy my life not finishing more work. I can take these time to jog, read some books which have nothing to do with my work, feed my cat(you will see them) and also sleep more time.
    </p>
  </div>

  <div class="chinese">
    <h1 class="title">简介</h1>
    <p>
    我的全名是蓝智恒，简称Lan。目前就职于<a target="_blank" href="https://www.beansmile.com/">beansmile</a>，任Web开发职位，不过有时候我更愿意把自己称作全栈工程师（这个头衔很酷）。比较擅长Ruby，JavaScript以及C语言。无论如何我并不认为PHP是世界上最好的编程语言，Ruby才是。
    </p>
    <p>
    有些人会说“工作就是生活”，不过我并不这么认为。我以为<strong>工作就是工作，生活就是生活</strong>。我更愿意把工作之外的时间用来享受生活而不是完成更多的工作。这些时间可以用来慢跑，读一些与工作无关的书籍，喂我的猫（你会看到他们的）还可以睡久一点。
    </p>

  </div>
</div>
