<div class="contact-form">
  <h1 class="title">Contact Me</h1>
  <%= form_with(url: contact_me_path, id: 'ajaxForm') do %>
    <div class="field">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Your Name" />
    </div>
    <div class="field">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Your Email" />
    </div>
    <div class="field">
      <label for="content">Content:</label>
      <textarea type="text" name="content" rows="6" placeholder="...."></textarea>
    </div>
    <button class="btn" type="submit">SEND</button>
  <% end %>
</div>
