<div class="contact-form">
  <h1 class="title">联系方式</h1>
  <form id="ajaxForm" action="https://getform.io/f/72667064-8826-42a0-9adb-b8bda2ceaaa8" method="POST">
    <div class="field">
      <label for="name">姓名:</label>
      <input type="text" name="name" placeholder="怎么称呼您？" />
    </div>
    <div class="field">
      <label for="email">邮箱:</label>
      <input type="text" name="email" placeholder="如何联系您？" />
    </div>
    <div class="field">
      <label for="content">内容:</label>
      <textarea type="text" name="content" rows="6" placeholder="有什么要跟我说？"></textarea>
    </div>
    <button class="btn" type="submit">发送</button>
  </form>
</div>
