<header class="header-wrapper">
  <div class="header-overlay"></div>
  <div class="header-content">
    <div class="avatar">
      <%= image_tag('avatar.png') %>
    </div>
    <div class="author-title">Step By Step</div>
    <div class="author-desc">A fullstack developer, love programming, life and Mayday.</div>
    <%= navbar %>
    <%= social %>
    <div class="copy">Copyright © <%= Time.now.strftime("%Y") %> Lan. Powered by <a href="https://rubyonrails.org/">Rails</a>.</div>
  </div>
</header>
